/* Navbar */

/* Navbar Desktop */

.nav__disp {
    display: block;
}

.navbar {
    padding: 32px 65px;
    margin-bottom: 12px;
    overflow: hidden;
}

.navbar__logo {
    float: left;
}

.navbar__logo img {
    width: 191px;
    height: 45px;
}

.navbar__right {
    display: block;
    float: right;
}

.navbar__right li {
    float: left;
    margin: 13px 48px 13px 0;
    font-weight: 600;
}

.navbar__right li:last-child {
    margin: 0;
}

.navbar__right li:hover {
    color: var(--primary);
    cursor: pointer;
}

.navbar__right .btn {
    margin-right: 0;
}

.hamburger {
    display: none;
}

/* Navbar Tablet */
@media all and (max-width: 1200px) {
    .navbar__right li {
        margin-right: 15px;
    }
}

/* Navbar Mobile */
@media all and (max-width: 576px) {
    header .navbar {
        padding: 20px 40px;
        margin-bottom: 0;
    }

    .navbar__logo {
        max-width: 191px;
        max-height: 45px;
    }

    .navbar__logo img {
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }

    .navbar__right {
        clear: left;
        float: none;
        margin-top: 60%;
    }

    .navbar__right li {
        float: none;
        text-align: center;
        margin-bottom: 48px;
    }

    .hamburger {
        display: block;
        float: right;
        width: 24px;
        height: 24px;
    }

    .nav__disp {
        display: none;
    }
}

/* Hero */

/* Hero Desktop*/
.hero {
    overflow: hidden;
    margin-bottom: 72px;
}

.hero__left {
    width: 50%;
    float: left;
    padding: 57px 230px 57px 30px;
}

.hero__left .title {
    font-size: var(--primary-header);
    font-weight: 700;
    line-height: 47px;
    color: var(--black-text);
    margin-bottom: 12px;
}

.hero__left .description {
    margin-bottom: 48px;
}

.hero__left .links a {
    margin-right: 12px;
}

.hero__right {
    float: right;
    width: 50%;
    padding-left: 100px;
}

.hero__right img {
    max-height: 584px;
}

/* Hero Tablet */
@media all and (max-width: 1200px) {
    .hero__left {
        padding: 0;
        width: 100%;
        float: none;
    }

    .hero__right {
        float: none;
        width: 90%;
        margin: auto;
        margin-bottom: 48px;
        padding: 0;
    }

    .hero__right img {
        display: block;
        margin: auto;
    }

    .hero__left {
        padding: 40px;
    }
}

/* Hero Mobile */
@media all and (max-width: 576px) {
    .hero__left {
        padding: 0;
    }

    .hero__left .title {
        line-height: 47px;
    }

    .hero__left .description {
        line-height: normal;
    }

    .hero__left .links {
        margin: auto;
    }

    .hero__right {
        float: none;
        width: 100%;
        margin-bottom: 48px;
        padding: 0;
    }

    .hero__right img {
        width: 100%;
        height: auto;
    }
}

/* Explore */

/* Explore Desktop */
.explore {
    overflow: hidden;
    margin-bottom: 72px;
}

.explore__title {
    color: var(--black-text);
    font-size: var(--secondary-header);
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
}

.explore__desc {
    overflow: hidden;
}

.explore__desc__el {
    float: left;
    width: 25%;
    margin: auto;
}

.explore__desc__el img {
    display: block;
    margin: auto;
    margin-bottom: 24px;
}

.explore__desc__el div {
    font-size: var(--large);
    color: var(--black-text);
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
}

.explore__desc__el p {
    text-align: center;
    padding: 0px 35px;
}

/* Explore Tablet */
@media all and (max-width: 1200px) {
    .explore__desc__el {
        margin: auto;
        width: 50%;
        margin-bottom: 48px;
    }

    .explore__desc__el:nth-child(3) {
        clear: left;
    }
}

/* Explore Mobile */
@media all and (max-width: 576px) {
    .explore__title {
        margin-bottom: 72px;
    }

    .explore__desc__el {
        float: none;
        width: 100%;
        margin-bottom: 45px;
    }
}

/* Blog */
/* Blog Desktop */
.blog-container {
    background-color: var(--gray-bg);
}

.blog {
    padding: 72px 0;
}

.blog__title {
    color: var(--black-text);
    font-size: var(--secondary-header);
    text-align: center;
    margin-bottom: 8px;
}

.blog__title-desc {
    text-align: center;
    max-width: 550px;
    margin: auto;
    margin-bottom: 40px;
}

.blog__content {
    overflow: hidden;
    width: 85%;
    margin: auto;
}

.blog__content__el {
    float: left;
    width: 33.333%;
    padding-right: 30px;
}

.blog__content__el .date {
    font-size: 14px;
    margin-bottom: 12px;
}

.blog__content__el img {
    width: 100%;
}

.blog__content__el .title {
    font-size: var(--medium);
    font-weight: 600;
    color: var(--black-text);
    margin-bottom: 8px;
}

.blog__btn {
    display: table;
    margin: auto;
    margin-top: 72px;

    /*OR*/
    /*display: block;*/
    /*margin: auto;*/
    /*width: fit-content;;*/
}

/* Blog Tablet */
@media all and (max-width: 1200px) {
    .blog__content {
        width: 80%;
    }

    .blog__content__el {
        width: 100%;
        float: none;
        margin: auto;
        padding: 0 0 50px 0;
    }

    .blog__btn {
        margin-top: 20px;
    }
}

/* Blog Mobile */
@media all and (max-width: 576px) {
    .blog {
        padding: 50px 0;
    }

    .blog__content {
        width: 100%;
    }
}

/* Footer */

/* Footer Desktop*/
.footer {
    background-color: var(--secondary);
}

.footer p,
.footer a {
    color: rgba(255, 255, 255, 0.8);
}

.footer .title {
    color: #ffffff;
}

/* Footer top */
.footer__top {
    overflow: hidden;
    width: 70%;
    margin: auto;
    padding: 72px 0;
}

/*[> Footer left <]*/
.footer__left {
    float: left;
    width: 50%;
}

.footer__left .title {
    font-size: var(--tertiary-header);
    font-weight: 700;
    margin-bottom: 12px;
}

.footer__left .desc {
    max-width: 400px;
}

/*[> Footer right <]*/
.footer__right {
    float: right;
    overflow: hidden;
    width: 50%;
}

.footer__right__el {
    float: left;
}

.footer__right__el .title {
    font-size: var(--medium);
    margin-bottom: 24px;
    margin-right: 89px;
}

.footer__right__el li {
    font-size: var(--small);
    margin-bottom: 16px;
}

/*[> Footer bottom <]*/
.footer__bottom {
    background-color: var(--secondary-dark);
}

.footer__bottom p {
    text-align: center;
    font-size: var(--x-small);
    padding: 19px 0 17px 0;
}

/* Footer Tablet */
@media all and (max-width: 1200px) {
    .footer__top {
        width: 90%;
        /*padding: 72px 20px;*/
    }

    .footer__left {
        padding-right: 50px;
    }

    .footer__right__el .title {
        margin-right: 20px;
    }
}

/* Footer Mobile */
@media all and (max-width: 576px) {
    .footer__top {
        padding: 50px 20px;
    }

    .footer__left {
        float: none;
        width: 100%;
        padding: 0;
    }

    .footer__left .desc {
        margin-bottom: 48px;
    }

    .footer__right {
        float: none;
        width: 100%;
        overflow: hidden;
    }

    .footer__right__el {
        display: inline;
        margin-bottom: 48px;
    }

    .footer__right__el:last-child {
        clear: left;
        margin-bottom: 0;
    }
}
