* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f5f9fa;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    height: 100vh;
}

.container {
    width: 1200px;
    margin: auto;
    padding-top: 60px;
}

a, a:focus, a:hover {
    text-decoration: none;
    color: black;
}

.btn {
    padding: 6px 20px;
    border-radius: 100px;
    background-color: blue;
    border: none;
    margin-right: 20px;
    color: white;
}

.btn:hover {
    color: white;
}

.btn__icon {
    vertical-align: middle;
    margin-right: 3px;
}

.disabled {
    pointer-events: none;
    cursor: default;
    background-color: gray;
}

.info {
    margin-bottom: 20px;

}

.info div {
    font-size: 20px;
    margin-bottom: 2px 0 0 2px;

}

main {
    min-width: 1200px;
}

.assignments > h2 {
    display: inline-block;
    margin: auto;
}

.assignments__table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

.assignments__table thead {
    color: #757779;
}

.assignments__table tbody tr {
    background-color: #ffffff;
}


.assignments__table th,
.assignments__table td {
    text-align: center;
    padding: 20px;
}

.assignments__table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.assignments__table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
